@import url('./bootstrap-grid.min.css');
@import url('./bootstrap-utilities.min.css');
@font-face {
  font-family: 'Driver';
  src: url('./fonts/DriverGothic.ttf');
}
@font-face {
  font-family: 'Product';
  src: url('./fonts/Product\ Sans\ Regular.ttf');
}

#root {
  font-family: 'Product';
}
.navbar-logo {
  transition-duration: 0.2s;
}
.navbar-logo:hover {
  transition-duration: 0.2s;
  transform: translateY(-1px);
  cursor: pointer;
}

.navbar-link {
  text-decoration: none;
  color: #000000;
  transition-duration: 0.2s;
  border: 3px solid #ffffff;
  border-radius: 10px;
}
.navbar-link:hover {
  transition-duration: 0.2s;
  background-color: #312d2d;
  color: white;
  border: 3px solid #312d2d;
  border-radius: 20px;
}
