@font-face {
    font-family: 'Product';
    src: url('./fonts/Product\ Sans\ Regular.ttf');
  }
.plate-input {
    font-family: 'Product';
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: xx-large;
    text-decoration: none;
}
.input-row {
    background-color: rgb(245, 245, 245);
    border: solid 1px rgb(229, 229, 229);
    border-radius: 20px
}
.radio-row {
    background-color: rgb(245, 245, 245);
    border: solid 1px rgb(229, 229, 229);
    border-radius: 20px
}
.input-radio:hover {
    cursor: pointer;
}
.plate-icon {
    width: 90%;
    padding: 0px;
}
.popover-i {
    position: relative;
    cursor: pointer;
}
.fa-twitter {
    color: black;
}