@font-face {
    font-family: 'Driver';
    src: url('./fonts/DriverGothic.ttf');
}
.plate-img {
    width: 100%;
}
.plate-container {
    position: relative;
    background-color: rgb(255, 255, 255) !important;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px
}
.plate-text {
    width: 100%;
    position: absolute;
    text-align: center;
    top: -34%;
    font-family: 'Driver';
    font-size: calc(10em);
    /* text-shadow: black 2px 1px 1px; */
}
@media only screen and (max-width: 1399px){
    .plate-text {
        font-size: 8.5em;
    }
}
@media only screen and (max-width: 1199px){
    .plate-text {
        font-size: 7.2em;
    }
}
@media only screen and (max-width: 991px){
    .plate-text {
        font-size: 11em;
    }
}
@media only screen and (max-width: 767px){
    .plate-text {
        font-size: 8.2em;
    }
}
/* mobile */
@media only screen and (max-width: 414px){
    .plate-text {
        font-size: 6em;
    }
}
@media only screen and (max-width: 390px){
    .plate-text {
        font-size: 5.7em;
    }
}
@media only screen and (max-width: 375px){
    .plate-text {
        font-size: 5.2em;
    }
}
.text-white {
    /* background: -webkit-linear-gradient(#f2f2f2, #e6e6e6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     */
    color: white
    }

.text-blue {
    color: rgb(47, 47, 194);
    text-shadow: 2px 2px 3px black;
}
.text-red {
    color: rgb(174, 13, 13);
    text-shadow: 2px 2px 3px black;
}
.text-green {
    color: rgb(10, 92, 72);
    text-shadow: 2px 2px 3px black;
}
.text-black {
    color: rgb(37, 37, 37);
    text-shadow: 2px 2px 3px black;
}
.download-img-button {
    transition-duration: 0.2s;
    font-weight: 900;
    background-color: rgb(245, 245, 245);
    border: solid 1px rgb(229, 229, 229);
    border-radius: 20px
}
.download-img-button:hover {
    transition-duration: 0.2s;
    cursor: pointer;
    background-color: rgb(233, 233, 233);
}
.download-img-button:hover .fa-download {
    animation: download-icon 3s infinite
}
@keyframes download-icon {
    0%, 100% {
        transform: translate(0px);
    }
    10% {
        transform: translateY(-2px);
    }
    
    20% {
        transform: translateY(0px);
    }
    
    30% {
        transform: translateY(-2px);
    }
    
    40% {
        transform: translateY(0px);
    }
}
