@font-face {
    font-family: 'Driver';
    src: url('./fonts/DriverGothic.ttf');
}
.plate-img {
    width: 100%;
}
.plate-container {
    position: relative;
    background-color: rgb(235, 235, 235);
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px
}
.plate-text {
    width: 100%;
    position: absolute;
    text-align: center;
    top: -31%;
    font-family: 'Driver';
    font-size: 10em
}
.text-white {
    color: white
}
.text-blue {
    color: blue
}
.text-red {
    color: red
}
.text-green {
    color: green
}
.text-black {
    color: black
}
.download-img-button {
    transition-duration: 0.2s;
}
.download-img-button:hover {
    transform: translateY(2px);
    transition-duration: 0.2s;
    cursor: pointer;
}