@font-face {
    font-family: 'Driver';
    src: url('./fonts/DriverGothic.ttf');
}
.plate-img {
    width: 100%;
}
.plate-container {
    position: relative;
    background-color: rgb(235, 235, 235);
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px
}
.plate-text {
    width: 100%;
    position: absolute;
    text-align: center;
    top: -34%;
    font-family: 'Driver';
    font-size: 10em;
    /* text-shadow: black 2px 1px 1px; */
}

.text-white {
    /* background: -webkit-linear-gradient(#f2f2f2, #e6e6e6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     */
    color: white
    }

.text-blue {
    color: rgb(47, 47, 194);
    text-shadow: 2px 2px 3px black;
}
.text-red {
    color: rgb(174, 13, 13);
    text-shadow: 2px 2px 3px black;
}
.text-green {
    color: rgb(10, 92, 72);
    text-shadow: 2px 2px 3px black;
}
.text-black {
    color: rgb(37, 37, 37);
    text-shadow: 2px 2px 3px black;
}
.download-img-button {
    transition-duration: 0.2s;
    font-weight: 900;
    background-color: rgb(245, 245, 245);
    border: solid 1px rgb(229, 229, 229);
    border-radius: 20px
}
.download-img-button:hover {
    transform: translateY(2px);
    transition-duration: 0.2s;
    cursor: pointer;
}
.download-row {
    
}